<main id="main">
<section class="inner-page">
      <div class="container">

<h1> All Categories </h1>

<hr>


<% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %> <br>
<% end %>
<br>
<!--
<%= link_to "New Category", new_category_path %>
<hr>
<%= link_to "All Items", items_path %>
-->


</div>
</section>

</main>
